# Cynthia Kielpinski

## Research Interests:

By majoring in statistics, I have always had a passion for the process behind statistics. The collection of data, the wrangling and processing of the data, exploratory analysis of the data, interpreting the analysis, and then finalizing the process by formulating a conclusion from the analysis. One fundamental ideal in statistics I have learned is that without an interdiscplinary field, you do not have the data and you are simply performing pure statistics. As per this comment, I have never found interest in pure statistics thus I found a passion in the interdisciplinary field of ecology and environmental sciences. For this project, my research interests are focus on exploratory statistics (required) and an environmental or ecological factor. Environmental data is more prominent  than ecological from my persepctive thus I have decided to focus on an environmental influence. Since our group decided on usng a summer and winter Olympics dataset, I though to refine my first research question to involve different countries performance in the summer and winter olympics influenced by their "local" climate. Competition is always a prfound topic, and I was also interested in how countries perform in their home country versus a visiting country. 

## Research Question: (updated 03-01-2023)

1. **Does the annual average temperature of a country determine a correlation between the probability or likelihood of preforming more successfully in the summer or winter Olympics in individual disciplines?** 

I have decided to use a Bernoulli distribution as the designation for "hot" (1) and "cold" (0) climates. I used the annual temperature column to calculate the overall average annual temperature for all the countries in the dataset to determine a "threshold" for determining if a country is "hot" and "cold" by using a Bernoulli distribution. For example, does Canada have a better probability of winning medals in the winter Olympics since it is considered to be a cold climate according to my Bernoulli distribution? Does Brazil have a better probability of winning medals in the summer Olympics since it is in the hot designation? Or is there no correlation between a countries climate classification and which Olympics the country preforms better in? I will explore the correlations between countries and their climates in regards to number of medals won in each of the respective summer or winter Olympic events. Overall, to answer this research question, my main form of analysis will be a multiple linear regression using categorical(dummy) variables and quantitative variables.

## Exploratory Data Analysis Plan: (updated 03-01-2023)

To determine some answers into starting to answer my research question, I will use descriptive and exploratory techniques such as... Some of my ideas for more advanced analyses are: multiple linear regression analysis, and potentially using principal component analysis. From briefly looking over the datasets, the above methods are a brief thought to the possibilities when exploring the data. After wrangling the data, I will define the specific analyses methods I choose to use. I have a background in Statistics, thus deciding what analyses will be used at a later stage will be an simplistic decision. 

I will complete as little wrangling as needed, but I have visioned the data to be cleaner and more orderly without taking hours on wrangining. I think my current plan is to edit/wrangle each dataset, and then merge all of the separate datasets together so I have one uniform dataset to work with. I will change some column names for ease of analyses, and try to keep everything simplistic. Some columns I am thinking of adding as of now are: total number of medals won, total number of gold, silver and bronze medals won, and maybe dome column for a way to rank the total number of "points" won to easily compute standings.

## Import Packages: (all packages needed for analysis, updated 02-12-2023)

In [192]:
## Import Packages:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [193]:
## Data Upload:
OlympicHost = pd.read_csv("../../data/raw/Olympic_Summer_Winter_Games_1986-2022/olympic_hosts.csv")

OlympicMedals = pd.read_csv("../../data/raw/Olympic_Summer_Winter_Games_1986-2022/olympic_medals.csv")

GDPCountry = pd.read_csv("../../data/raw/GDPbyCountry.csv")

HistTemp = pd.read_csv("../../data/raw/HistoricalTemperatureData.csv")

#### Notes: About the Historical Temperature Data and the GDP Datasets

The following links are from the World Bank Website which has the following license as described below. 

[Historical Average Temperature Data per Country](https://datacatalog.worldbank.org/search/dataset/00402760) 

[Gross Domestic Product Data:](https://data.worldbank.org/indicator/NY.GDP.MKTP.CD)

By looking into the licenses for the data from the [World Bank Website](https://www.worldbank.org/en/about/legal/terms-of-use-for-datasets) it quotes that the license "[u]nless specifically labeled otherwise, these Datasets are provided to you under a Creative Commons Attribution 4.0 International License (CC BY 4.0), with the additional terms below."

## Initial Edits and Observations:

In [194]:
OlympicHost1 = OlympicHost.drop(columns=["game_end_date", "game_start_date"])

In [195]:
OlympicHost1.head(10)

,game_slug,game_location,game_name,game_season,game_year
0,beijing-2022,China,Beijing 2022,Winter,2022
1,tokyo-2020,Japan,Tokyo 2020,Summer,2020
2,pyeongchang-2018,Republic of Korea,PyeongChang 2018,Winter,2018
3,rio-2016,Brazil,Rio 2016,Summer,2016
4,sochi-2014,Russian Federation,Sochi 2014,Winter,2014
5,london-2012,Great Britain,London 2012,Summer,2012
6,vancouver-2010,Canada,Vancouver 2010,Winter,2010
7,beijing-2008,China,Beijing 2008,Summer,2008
8,turin-2006,Italy,Turin 2006,Winter,2006
9,athens-2004,Greece,Athens 2004,Summer,2004

In [196]:
OlympicMedals = OlympicMedals.drop(columns=["athlete_url", "athlete_full_name","participant_title","country_code"])
OlympicMedals.head(10)

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,country_name,country_3_letter_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,ITA
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,ITA
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,NOR
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,NOR
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,SWE
5,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,SWE
6,Curling,beijing-2022,Women,Women,GOLD,GameTeam,Great Britain,GBR
7,Curling,beijing-2022,Women,Women,SILVER,GameTeam,Japan,JPN
8,Curling,beijing-2022,Women,Women,BRONZE,GameTeam,Sweden,SWE
9,Curling,beijing-2022,Men,Men,GOLD,GameTeam,Sweden,SWE

In [197]:
OlympicMedals = OlympicMedals.rename(columns={"discipline_title": "discipline", "slug_game": "game_slug","event_title": "event","event_gender": "event_sex",
                             "medal_type": "medal_type","participant_type": "participant_type","country_name": "country","country_3_letter_code": "country_code"})
OlympicMedals.head(10)

,discipline,game_slug,event,event_sex,medal_type,participant_type,country,country_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,ITA
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,ITA
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,NOR
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,NOR
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,SWE
5,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,SWE
6,Curling,beijing-2022,Women,Women,GOLD,GameTeam,Great Britain,GBR
7,Curling,beijing-2022,Women,Women,SILVER,GameTeam,Japan,JPN
8,Curling,beijing-2022,Women,Women,BRONZE,GameTeam,Sweden,SWE
9,Curling,beijing-2022,Men,Men,GOLD,GameTeam,Sweden,SWE

In [198]:
OlympicMedals = OlympicMedals[OlympicMedals["participant_type"] == "Athlete"]

## Establish Point Values:
point_value = []
for row in OlympicMedals["medal_type"]:
        if row == "GOLD" :    point_value.append(3)
        elif row == "SILVER" :  point_value.append(2)
        else:           point_value.append(1)
        
OlympicMedals["point_value"] = point_value

OlympicMedals.head(15)

,discipline,game_slug,event,event_sex,medal_type,participant_type,country,country_code,point_value
12,Freestyle Skiing,beijing-2022,Men's Moguls,Men,SILVER,Athlete,Canada,CAN,2
13,Freestyle Skiing,beijing-2022,Men's Moguls,Men,GOLD,Athlete,Sweden,SWE,3
14,Freestyle Skiing,beijing-2022,Men's Moguls,Men,BRONZE,Athlete,Japan,JPN,1
15,Freestyle Skiing,beijing-2022,Men's Freeski Halfpipe,Men,GOLD,Athlete,New Zealand,NZL,3
16,Freestyle Skiing,beijing-2022,Men's Freeski Halfpipe,Men,SILVER,Athlete,United States of America,USA,2
17,Freestyle Skiing,beijing-2022,Men's Freeski Halfpipe,Men,BRONZE,Athlete,United States of America,USA,1
18,Freestyle Skiing,beijing-2022,Men's Freeski Big Air,Men,BRONZE,Athlete,Sweden,SWE,1
19,Freestyle Skiing,beijing-2022,Men's Freeski Big Air,Men,GOLD,Athlete,Norway,NOR,3
20,Freestyle Skiing,beijing-2022,Men's Freeski Big Air,Men,SILVER,Athlete,United States of America,USA,2
21,Freestyle Skiing,beijing-2022,Men's Ski Cross,Men,BRONZE,Athlete,ROC,ROC,1
22,Freestyle Skiing,beijing-2022,Men's Ski Cross,Men,SILVER,Athlete,Switzerland,SUI,2
23,Freestyle Skiing,beijing-2022,Men's Ski Cross,Men,GOLD,Athlete,Switzerland,SUI,3
24,Freestyle Skiing,beijing-2022,Women's Freeski Big Air,Women,BRONZE,Athlete,Switzerland,SUI,1
25,Freestyle Skiing,beijing-2022,Women's Freeski Big Air,Women,GOLD,Athlete,People's Republic of China,CHN,3
26,Freestyle Skiing,beijing-2022,Women's Freeski Big Air,Women,SILVER,Athlete,France,FRA,2

In [199]:
OlympicMedals1 = OlympicMedals
OlympicMedals1.head(10)

,discipline,game_slug,event,event_sex,medal_type,participant_type,country,country_code,point_value
12,Freestyle Skiing,beijing-2022,Men's Moguls,Men,SILVER,Athlete,Canada,CAN,2
13,Freestyle Skiing,beijing-2022,Men's Moguls,Men,GOLD,Athlete,Sweden,SWE,3
14,Freestyle Skiing,beijing-2022,Men's Moguls,Men,BRONZE,Athlete,Japan,JPN,1
15,Freestyle Skiing,beijing-2022,Men's Freeski Halfpipe,Men,GOLD,Athlete,New Zealand,NZL,3
16,Freestyle Skiing,beijing-2022,Men's Freeski Halfpipe,Men,SILVER,Athlete,United States of America,USA,2
17,Freestyle Skiing,beijing-2022,Men's Freeski Halfpipe,Men,BRONZE,Athlete,United States of America,USA,1
18,Freestyle Skiing,beijing-2022,Men's Freeski Big Air,Men,BRONZE,Athlete,Sweden,SWE,1
19,Freestyle Skiing,beijing-2022,Men's Freeski Big Air,Men,GOLD,Athlete,Norway,NOR,3
20,Freestyle Skiing,beijing-2022,Men's Freeski Big Air,Men,SILVER,Athlete,United States of America,USA,2
21,Freestyle Skiing,beijing-2022,Men's Ski Cross,Men,BRONZE,Athlete,ROC,ROC,1

In [200]:
HistTemp = HistTemp.rename(columns = {"ISO_3DIGIT": "country_code", "Jan_Temp": "Jan_temp", 
                                      "Apr_Temp": "Apr_temp", "Jun_Temp": "Jun_temp", "July_Temp":"July_temp",
                                      "Aug_Temp": "Aug_temp", "Nov_Temp": "Nov_temp"})

HistTemp1 = HistTemp.drop(columns=["Jan_temp", "Feb_temp", "Mar_temp", "Apr_temp", "May_temp", "Jun_temp",
                                 "July_temp", "Aug_temp", "Sept_temp", "Oct_temp", "Nov_temp", "Dec_temp"])

## Mean Temp: 17.965506 degrees celsius
MeanTemp = HistTemp1[["Annual_temp"]].mean()

## Dummy Variable: Categorical (1: Hot, 0: Cold)
hot_cold = []
for row in HistTemp1["Annual_temp"]:
        if row > 17.95 :    hot_cold.append(1)
        else:           hot_cold.append(0)
        
HistTemp1["hot_cold"] = hot_cold
HistTemp1.head(10)

  country_code  Annual_temp  hot_cold
0          AFG        12.92         0
1          AGO        21.51         1
2          ALB        11.27         0
3          ARE        26.83         1
4          ARG        14.22         0
5          ARM         6.37         0
6          AUS        21.51         1
7          AUT         6.19         0
8          AZE        12.22         0
9          BDI        20.27         1

In [201]:
## This data set is going to need a bit of wrangling... (HUGE YIKES -_-)
GDPCountry = GDPCountry.drop([0,2])
GDPCountry = GDPCountry.drop([1])
GDPCountry = GDPCountry.drop(columns=["Unnamed: 3"])
GDPCountry = GDPCountry.drop([3])

In [202]:
GDPCountry = GDPCountry.rename(columns = {"Data Source": "country_name", "World Development Indicators": "country_code", 
                                          "Unnamed: 2": "GDP", "Unnamed: 4": "1960", "Unnamed: 5": "1961", "Unnamed: 6": "1962",
                                          "Unnamed: 7": "1963", "Unnamed: 8": "1964", "Unnamed: 9": "1965", "Unnamed: 10": "1966",
                                          "Unnamed: 11": "1967", "Unnamed: 12": "1968", "Unnamed: 13": "1969", "Unnamed: 14": "1970",
                                          "Unnamed: 15": "1971","Unnamed: 16": "1972","Unnamed: 17": "1973","Unnamed: 18": "1974",
                                          "Unnamed: 19": "1975","Unnamed: 20": "1976","Unnamed: 21": "1977","Unnamed: 22": "1978",
                                          "Unnamed: 23": "1979","Unnamed: 24": "1980","Unnamed: 25": "1981","Unnamed: 26": "1982",
                                          "Unnamed: 27": "1983","Unnamed: 28": "1984","Unnamed: 29": "1985","Unnamed: 30": "1986",
                                          "Unnamed: 31": "1987","Unnamed: 32": "1988","Unnamed: 33": "1989","Unnamed: 34": "1990",
                                          "Unnamed: 35": "1991","Unnamed: 36": "1992","Unnamed: 37": "1993","Unnamed: 38": "1994",
                                          "Unnamed: 39": "1995","Unnamed: 40": "1996","Unnamed: 41": "1997","Unnamed: 42": "1998",
                                          "Unnamed: 43": "1999","Unnamed: 44": "2000","Unnamed: 45": "2001","Unnamed: 46": "2002",
                                          "Unnamed: 47": "2003","Unnamed: 48": "2004","Unnamed: 49": "2005","Unnamed: 50": "2006",
                                          "Unnamed: 51": "2007","Unnamed: 52": "2008","Unnamed: 53": "2009","Unnamed: 54": "2010",
                                          "Unnamed: 55": "2011","Unnamed: 56": "2012","Unnamed: 57": "2013","Unnamed: 58": "2014",
                                          "Unnamed: 59": "2015","Unnamed: 60": "2016","Unnamed: 61": "2017","Unnamed: 62": "2018",
                                          "Unnamed: 63": "2019","Unnamed: 64": "2020","Unnamed: 65": "2021"})

In [203]:
GDPCountry.to_csv("../../data/raw/New_GDP.csv")

In [204]:
NewGDP = pd.read_csv("../../data/raw/New_GDP.csv")
NewGDP=NewGDP.drop(columns=["Unnamed: 0"])

In [205]:
## Drop the NaN Values: (I am currently assuming is the World Bank doesn't have a GDP for the country, the country code doesn't match a place in the Olympics..)
GDP_NONA = NewGDP.dropna()
GDP_NONA

,country_name,country_code,GDP,1960,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,Africa Eastern and Southern,AFE,GDP (current US$),2.129081e+10,2.180870e+10,2.370727e+10,2.821034e+10,2.611906e+10,2.968249e+10,3.223946e+10,...,9.725730e+11,9.834730e+11,1.003770e+12,9.245230e+11,8.827210e+11,1.021120e+12,1.007240e+12,1.001020e+12,9.274840e+11,1.080710e+12
3,Africa Western and Central,AFW,GDP (current US$),1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,1.583259e+10,...,7.360400e+11,8.322170e+11,8.924980e+11,7.669580e+11,6.905450e+11,6.837480e+11,7.663600e+11,7.947190e+11,7.848000e+11,8.401870e+11
13,Australia,AUS,GDP (current US$),1.860567e+10,1.968194e+10,1.992160e+10,2.153881e+10,2.379998e+10,2.597491e+10,2.730653e+10,...,1.546890e+12,1.576380e+12,1.467550e+12,1.350620e+12,1.206540e+12,1.326520e+12,1.428290e+12,1.392230e+12,1.326900e+12,1.552670e+12
14,Austria,AUT,GDP (current US$),6.592694e+09,7.311750e+09,7.756110e+09,8.374175e+09,9.169984e+09,9.994071e+09,1.088768e+10,...,4.094020e+11,4.301910e+11,4.425850e+11,3.819710e+11,3.958370e+11,4.172610e+11,4.549910e+11,4.446210e+11,4.352250e+11,4.803680e+11
16,Burundi,BDI,GDP (current US$),1.960000e+08,2.030000e+08,2.135000e+08,2.327500e+08,2.607500e+08,1.589950e+08,1.654446e+08,...,2.333341e+09,2.451607e+09,2.705783e+09,3.104004e+09,2.639321e+09,2.712324e+09,2.660124e+09,2.576519e+09,2.649672e+09,2.779813e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,St. Vincent and the Grenadines,VCT,GDP (current US$),1.306656e+07,1.399988e+07,1.452488e+07,1.370822e+07,1.475821e+07,1.510821e+07,1.609987e+07,...,7.300326e+08,7.647813e+08,7.709014e+08,7.865546e+08,8.143023e+08,8.476202e+08,8.843282e+08,9.101497e+08,8.721346e+08,9.041815e+08
259,World,WLD,GDP (current US$),1.392280e+12,1.448630e+12,1.550550e+12,1.671610e+12,1.830290e+12,1.993910e+12,2.163900e+12,...,7.550120e+13,7.760720e+13,7.973320e+13,7.518780e+13,7.646150e+13,8.140070e+13,8.645690e+13,8.764530e+13,8.510560e+13,9.651310e+13
263,South Africa,ZAF,GDP (current US$),8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,1.421139e+10,...,4.344010e+11,4.008860e+11,3.811990e+11,3.467100e+11,3.235860e+11,3.814490e+11,4.041600e+11,3.885320e+11,3.376200e+11,4.190150e+11
264,Zambia,ZMB,GDP (current US$),7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,...,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10,2.214763e+10
265,Zimbabwe,ZWE,GDP (current US$),1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,...,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10

In [208]:
## Average GDP from 1960 to 2021:
average_GDP = GDP_NONA[["1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971",
                       "1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982",
                       "1983","1984","1985","1986","1987","1988","1989","1990", "1991","1992","1993","1994",
                       "1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                        "2007","2008","2009","2010","2011","2012","2013","2014","2015",
                       "2016","2017","2018","2019","2020","2021"]].mean()
GDP_NONA

,country_name,country_code,GDP,1960,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,Africa Eastern and Southern,AFE,GDP (current US$),2.129081e+10,2.180870e+10,2.370727e+10,2.821034e+10,2.611906e+10,2.968249e+10,3.223946e+10,...,9.725730e+11,9.834730e+11,1.003770e+12,9.245230e+11,8.827210e+11,1.021120e+12,1.007240e+12,1.001020e+12,9.274840e+11,1.080710e+12
3,Africa Western and Central,AFW,GDP (current US$),1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,1.583259e+10,...,7.360400e+11,8.322170e+11,8.924980e+11,7.669580e+11,6.905450e+11,6.837480e+11,7.663600e+11,7.947190e+11,7.848000e+11,8.401870e+11
13,Australia,AUS,GDP (current US$),1.860567e+10,1.968194e+10,1.992160e+10,2.153881e+10,2.379998e+10,2.597491e+10,2.730653e+10,...,1.546890e+12,1.576380e+12,1.467550e+12,1.350620e+12,1.206540e+12,1.326520e+12,1.428290e+12,1.392230e+12,1.326900e+12,1.552670e+12
14,Austria,AUT,GDP (current US$),6.592694e+09,7.311750e+09,7.756110e+09,8.374175e+09,9.169984e+09,9.994071e+09,1.088768e+10,...,4.094020e+11,4.301910e+11,4.425850e+11,3.819710e+11,3.958370e+11,4.172610e+11,4.549910e+11,4.446210e+11,4.352250e+11,4.803680e+11
16,Burundi,BDI,GDP (current US$),1.960000e+08,2.030000e+08,2.135000e+08,2.327500e+08,2.607500e+08,1.589950e+08,1.654446e+08,...,2.333341e+09,2.451607e+09,2.705783e+09,3.104004e+09,2.639321e+09,2.712324e+09,2.660124e+09,2.576519e+09,2.649672e+09,2.779813e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,St. Vincent and the Grenadines,VCT,GDP (current US$),1.306656e+07,1.399988e+07,1.452488e+07,1.370822e+07,1.475821e+07,1.510821e+07,1.609987e+07,...,7.300326e+08,7.647813e+08,7.709014e+08,7.865546e+08,8.143023e+08,8.476202e+08,8.843282e+08,9.101497e+08,8.721346e+08,9.041815e+08
259,World,WLD,GDP (current US$),1.392280e+12,1.448630e+12,1.550550e+12,1.671610e+12,1.830290e+12,1.993910e+12,2.163900e+12,...,7.550120e+13,7.760720e+13,7.973320e+13,7.518780e+13,7.646150e+13,8.140070e+13,8.645690e+13,8.764530e+13,8.510560e+13,9.651310e+13
263,South Africa,ZAF,GDP (current US$),8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,1.421139e+10,...,4.344010e+11,4.008860e+11,3.811990e+11,3.467100e+11,3.235860e+11,3.814490e+11,4.041600e+11,3.885320e+11,3.376200e+11,4.190150e+11
264,Zambia,ZMB,GDP (current US$),7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,...,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10,2.214763e+10
265,Zimbabwe,ZWE,GDP (current US$),1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,...,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10

In [186]:
## Remove the Other Years:
GDP = GDP_NONA.drop(columns=["GDP","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971",
                       "1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982",
                       "1983","1984","1985","1986","1987","1988","1989","1990", "1991","1992","1993","1994",
                       "1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                        "2007","2008","2009","2010","2011","2012","2013","2014","2015",
                       "2016","2017","2018","2019","2020","2021"])
GDP.head(5)

                   country_name country_code
1   Africa Eastern and Southern          AFE
3    Africa Western and Central          AFW
13                    Australia          AUS
14                      Austria          AUT
16                      Burundi          BDI

In [149]:
## Merge Data Sets:
Olympic1 = pd.merge(OlympicHost1, OlympicMedals1, on="game_slug")
Olympic2 = pd.merge(Olympic1, HistTemp1, on="country_code")

In [150]:
## Merge Data Sets:
Olympic3 = pd.merge(Olympic2, GDP, on="country_code")
Olympic3

,game_slug,game_location,game_name,game_season,game_year,discipline,event,event_sex,medal_type,participant_type,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,beijing-2022,China,Beijing 2022,Winter,2022,Freestyle Skiing,Men's Moguls,Men,SILVER,Athlete,...,1.828370e+12,1.846600e+12,1.805750e+12,1.556510e+12,1.527990e+12,1.649270e+12,1.725330e+12,1.742020e+12,1.645420e+12,1.988340e+12
1,beijing-2022,China,Beijing 2022,Winter,2022,Freestyle Skiing,Women's Ski Cross,Women,SILVER,Athlete,...,1.828370e+12,1.846600e+12,1.805750e+12,1.556510e+12,1.527990e+12,1.649270e+12,1.725330e+12,1.742020e+12,1.645420e+12,1.988340e+12
2,beijing-2022,China,Beijing 2022,Winter,2022,Freestyle Skiing,Women's Freeski Halfpipe,Women,SILVER,Athlete,...,1.828370e+12,1.846600e+12,1.805750e+12,1.556510e+12,1.527990e+12,1.649270e+12,1.725330e+12,1.742020e+12,1.645420e+12,1.988340e+12
3,beijing-2022,China,Beijing 2022,Winter,2022,Freestyle Skiing,Women's Freeski Halfpipe,Women,BRONZE,Athlete,...,1.828370e+12,1.846600e+12,1.805750e+12,1.556510e+12,1.527990e+12,1.649270e+12,1.725330e+12,1.742020e+12,1.645420e+12,1.988340e+12
4,beijing-2022,China,Beijing 2022,Winter,2022,Short Track Speed Skating,Women's 500m,Women,BRONZE,Athlete,...,1.828370e+12,1.846600e+12,1.805750e+12,1.556510e+12,1.527990e+12,1.649270e+12,1.725330e+12,1.742020e+12,1.645420e+12,1.988340e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8562,paris-1900,France,Paris 1900,Summer,1900,Athletics,marathon men,Men,GOLD,Athlete,...,5.977638e+10,6.520328e+10,6.880481e+10,6.007158e+10,6.221689e+10,6.571218e+10,7.100036e+10,6.982564e+10,7.399259e+10,8.550624e+10
8563,seoul-1988,Republic of Korea,Seoul 1988,Summer,1988,Athletics,400m hurdles men,Men,SILVER,Athlete,...,1.766087e+10,1.891867e+10,1.979725e+10,1.777477e+10,1.904031e+10,2.099656e+10,2.311690e+10,2.339881e+10,2.449316e+10,2.762539e+10
8564,seoul-1988,Republic of Korea,Seoul 1988,Summer,1988,Boxing,71-75kg men,Men,BRONZE,Athlete,...,2.243840e+11,2.312190e+11,2.443610e+11,2.705560e+11,3.136300e+11,3.392060e+11,3.561280e+11,3.209090e+11,3.004260e+11,3.482630e+11
8565,rome-1960,Italy,Rome 1960,Summer,1960,Wrestling,"Welterweight, Freestyle (≤73 kilograms) Men",Men,BRONZE,Athlete,...,2.243840e+11,2.312190e+11,2.443610e+11,2.705560e+11,3.136300e+11,3.392060e+11,3.561280e+11,3.209090e+11,3.004260e+11,3.482630e+11
8566,moscow-1980,USSR,Moscow 1980,Summer,1980,Boxing,51-54kg bantamweight men,Men,BRONZE,Athlete,...,4.063089e+09,4.167800e+09,4.127659e+09,4.279840e+09,4.482697e+09,4.748174e+09,4.787636e+09,5.173760e+09,5.471257e+09,8.044499e+09

In [115]:
## Fix The GDP Problem... ArG!
FindNaNValues = Olympic3[Olympic3.isna().any(axis=1)]
FindNaNValues

,game_slug,game_location,game_name,game_season,game_year,discipline,event,event_sex,medal_type,participant_type,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1314,beijing-2022,China,Beijing 2022,Winter,2022,Freestyle Skiing,Men's Freeski Halfpipe,Men,GOLD,Athlete,...,1.762070e+11,1.909070e+11,2.013130e+11,1.780640e+11,1.888380e+11,2.066240e+11,2.119530e+11,2.134350e+11,2.117350e+11,2.498860e+11
1315,beijing-2022,China,Beijing 2022,Winter,2022,Snowboard,Women's Snowboard Big Air,Women,SILVER,Athlete,...,1.762070e+11,1.909070e+11,2.013130e+11,1.780640e+11,1.888380e+11,2.066240e+11,2.119530e+11,2.134350e+11,2.117350e+11,2.498860e+11
1316,beijing-2022,China,Beijing 2022,Winter,2022,Snowboard,Women's Snowboard Slopestyle,Women,GOLD,Athlete,...,1.762070e+11,1.909070e+11,2.013130e+11,1.780640e+11,1.888380e+11,2.066240e+11,2.119530e+11,2.134350e+11,2.117350e+11,2.498860e+11
1317,tokyo-2020,Japan,Tokyo 2020,Summer,2020,Canoe Sprint,Women's Kayak Single 200m,Women,GOLD,Athlete,...,1.762070e+11,1.909070e+11,2.013130e+11,1.780640e+11,1.888380e+11,2.066240e+11,2.119530e+11,2.134350e+11,2.117350e+11,2.498860e+11
1318,tokyo-2020,Japan,Tokyo 2020,Summer,2020,Canoe Sprint,Women's Kayak Single 500m,Women,GOLD,Athlete,...,1.762070e+11,1.909070e+11,2.013130e+11,1.780640e+11,1.888380e+11,2.066240e+11,2.119530e+11,2.134350e+11,2.117350e+11,2.498860e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11032,moscow-1980,USSR,Moscow 1980,Summer,1980,Wrestling,"Super-Heavyweight, Greco-Roman (>100 kilograms...",Men,BRONZE,Athlete,...,4.401680e+10,4.688010e+10,4.809521e+10,4.992934e+10,5.114731e+10,5.302768e+10,5.490152e+10,5.195374e+10,3.171213e+10,2.313194e+10
11033,munich-1972,Federal Republic of Germany,Munich 1972,Summer,1972,Weightlifting,"67.5 - 75kg, (middleweight) men",Men,SILVER,Athlete,...,4.401680e+10,4.688010e+10,4.809521e+10,4.992934e+10,5.114731e+10,5.302768e+10,5.490152e+10,5.195374e+10,3.171213e+10,2.313194e+10
11034,helsinki-1952,Finland,Helsinki 1952,Summer,1952,Wrestling,"Welterweight, Greco-Roman (≤73 kilograms) Men",Men,BRONZE,Athlete,...,4.401680e+10,4.688010e+10,4.809521e+10,4.992934e+10,5.114731e+10,5.302768e+10,5.490152e+10,5.195374e+10,3.171213e+10,2.313194e+10
11035,helsinki-1952,Finland,Helsinki 1952,Summer,1952,Wrestling,"Bantamweight, Greco-Roman (≤57 kilograms) Men",Men,SILVER,Athlete,...,4.401680e+10,4.688010e+10,4.809521e+10,4.992934e+10,5.114731e+10,5.302768e+10,5.490152e+10,5.195374e+10,3.171213e+10,2.313194e+10
11037,rome-1960,Italy,Rome 1960,Summer,1960,Weightlifting,60 - 67.5kg (lightweight) men,Men,BRONZE,Athlete,...,2.180020e+11,2.346380e+11,2.284160e+11,1.667740e+11,1.666020e+11,1.872180e+11,2.273670e+11,2.336360e+11,1.843700e+11,2.078890e+11

## Exploratory Data Analysis: