# Cynthia Kielpinski

## Research Interests:

By majoring in statistics, I have always had a passion for the process behind statistics. The collection of data, the wrangling and processing of the data, exploratory analysis of the data, interpreting the analysis, and then finalizing the process by formulating a conclusion from the analysis. One fundamental ideal in statistics I have learned is that without an interdiscplinary field, you do not have the data and you are simply performing pure statistics. As per this comment, I have never found interest in pure statistics thus I found a passion in the interdisciplinary field of ecology and environmental sciences. For this project, my research interests are focus on exploratory statistics (required) and an environmental or ecological factor. Environmental data is more prominent  than ecological from my persepctive thus I have decided to focus on an environmental influence. Since our group decided on using a summer and winter Olympics dataset, I though to refine my first research question to involve different countries performance in the summer and winter olympics influenced by their "local" climate. Competition is always a profound topic, and additionally if there is need for an additional research question I was also interested in how countries perform in their home country versus a visiting country.

## Research Question: (updated: 03-18-2023)

1. **Does the annual average temperature of a country determine a correlation between the probability or likelihood of preforming more successfully in the summer or winter Olympics in individual disciplines? Or is a countries success determined by the average GDP of a country?** 

I have decided to use a Bernoulli distribution as the designation for "hot" (1) and "cold" (0) climates. I used the annual temperature column to calculate the overall average annual temperature for all the countries in the dataset to determine a "threshold" for determining if a country is "hot" and "cold" by using a Bernoulli distribution. For example, does Canada have a better probability of winning medals in the winter Olympics since it is considered to be a cold climate according to my Bernoulli distribution? Does Brazil have a better probability of winning medals in the summer Olympics since it is in the hot designation? Or is there no correlation between a countries climate classification and which Olympics the country preforms better in? I will explore the correlations between countries and their climates in regards to number of medals won in each of the respective summer or winter Olympic events. Overall, to answer this research question, my main form of analysis will be a multiple linear regression using categorical(dummy) variables and quantitative variables.

## Exploratory Data Analysis Plan: (updated: 03-01-2023)

To determine some answers into starting to answer my research question, I will use descriptive and exploratory techniques such as... Some of my ideas for more advanced analyses are: multiple linear regression analysis, and potentially using principal component analysis. From briefly looking over the datasets, the above methods are a brief thought to the possibilities when exploring the data. After wrangling the data, I will define the specific analyses methods I choose to use. I have a background in Statistics, thus deciding what analyses will be used at a later stage will be an simplistic decision. 

I will complete as little wrangling as needed, but I have visioned the data to be cleaner and more orderly without taking hours on wrangining. I think my current plan is to edit/wrangle each dataset, and then merge all of the separate datasets together so I have one uniform dataset to work with. I will change some column names for ease of analyses, and try to keep everything simplistic. Some columns I am thinking of adding as of now are: total number of medals won, total number of gold, silver and bronze medals won, and maybe dome column for a way to rank the total number of "points" won to easily compute standings.

## Import Packages: (all packages needed for analysis, updated: 03-04-2023)

In [13]:
## Import Packages:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import rc

import seaborn as sns
sns.set_theme(style="ticks")

In [14]:
## Data Upload:
OlympicHost = pd.read_csv("../../data/raw/Olympic_Summer_Winter_Games_1986-2022/olympic_hosts.csv")

OlympicMedals = pd.read_csv("../../data/raw/Olympic_Summer_Winter_Games_1986-2022/olympic_medals.csv")

GDPCountry = pd.read_csv("../../data/raw/GDPbyCountry.csv")

HistTemp = pd.read_csv("../../data/raw/HistoricalTemperatureData.csv")

#### Notes: About the Historical Temperature Data and the GDP Datasets

The following links are from the World Bank Website which has the following license as described below. 

[Historical Average Temperature Data per Country](https://datacatalog.worldbank.org/search/dataset/00402760) (For whatever reason, this link no longer exists?!?! I have no idea why??)

[Gross Domestic Product Data:](https://data.worldbank.org/indicator/NY.GDP.MKTP.CD)

By looking into the licenses for the data from the [World Bank Website](https://www.worldbank.org/en/about/legal/terms-of-use-for-datasets) it quotes that the license "[u]nless specifically labeled otherwise, these Datasets are provided to you under a Creative Commons Attribution 4.0 International License (CC BY 4.0), with the additional terms below."

## Initial Edits and Observations:

In [15]:
## OLYMPIC HOST DATASET:
## Method Chaining: Drop columns not needed for analysis
OlympicHost1 = OlympicHost.drop(columns=["game_end_date", "game_start_date"])

In [16]:
## OLYMPIC MEDALS DATASET:
## Method Chaining: Drop columns, rename columns
OlympicMedals = OlympicMedals.drop(columns=["athlete_url", "athlete_full_name","participant_title","country_code"]).rename(columns={"discipline_title": "discipline", "slug_game": "game_slug","event_title": "event","event_gender": "event_sex",
                             "medal_type": "medal_type","participant_type": "participant_type","country_name": "country","country_3_letter_code": "country_code"})

In [7]:
## OLYMPIC MEDALS DATASET:
## Select Only "Athlete" Events: see note at bottom of chunk for reasoning.
OlympicMedals = OlympicMedals[OlympicMedals["participant_type"] == "Athlete"]

## Establish Point Values:
point_value = []
for row in OlympicMedals["medal_type"]:
        if row == "GOLD" :    point_value.append(3)
        elif row == "SILVER" :  point_value.append(2)
        else:           point_value.append(1)

## Adds the New Column: "point_value"
OlympicMedals["point_value"] = point_value

## Cleaned Data into New Data Frame:
OlympicMedals1 = OlympicMedals
OlympicMedals1

## NOTE: I have decided to select only "Athlete" events, due to the complexity of calculating point totals for "Team Game" events...
## Overall, I am more interested in individual athlete events, thus this refines my research question to be more specific.

,discipline,game_slug,event,event_sex,medal_type,participant_type,country,country_code,point_value
0,Taekwondo,london-2012,58 - 68 kg men,Men,BRONZE,Athlete,Afghanistan,AFG,1
1,Taekwondo,beijing-2008,Beijing 2008 Taekwondo - 58 kg men,Men,BRONZE,Athlete,Afghanistan,AFG,1
2,Sailing,seoul-1988,Division II - Windsurfer men,Open,SILVER,Athlete,Netherlands Antilles,AHO,2
3,Athletics,rio-2016,800m men,Men,SILVER,Athlete,Algeria,ALG,2
4,Athletics,rio-2016,1500m men,Men,SILVER,Athlete,Algeria,ALG,2
...,...,...,...,...,...,...,...,...,...
21691,Swimming,beijing-2008,400m individual medley women,Women,SILVER,Athlete,Zimbabwe,ZIM,2
21692,Swimming,beijing-2008,200m backstroke women,Women,GOLD,Athlete,Zimbabwe,ZIM,3
21693,Swimming,athens-2004,200m backstroke women,Women,GOLD,Athlete,Zimbabwe,ZIM,3
21694,Swimming,athens-2004,200m individual medley women,Women,BRONZE,Athlete,Zimbabwe,ZIM,1
21695,Swimming,athens-2004,100m backstroke women,Women,SILVER,Athlete,Zimbabwe,ZIM,2

In [ ]:
## HISTORICAL TEMPERATURE DATASET:
## Method Chaining: Rename columns, drop columns

HistTemp = HistTemp.rename(columns = {"ISO_3DIGIT": "WRONG_country_code", "Jan_Temp": "Jan_temp", 
                                      "Apr_Temp": "Apr_temp", "Jun_Temp": "Jun_temp", "July_Temp":"July_temp",
                                      "Aug_Temp": "Aug_temp", "Nov_Temp": "Nov_temp"}).drop(columns=["WRONG_country_code",
                                        "Jan_temp", "Feb_temp", "Mar_temp", "Apr_temp","May_temp", "Jun_temp","July_temp",
                                        "Aug_temp", "Sept_temp", "Oct_temp","Nov_temp", "Dec_temp"])

## NOTE: I probably did not have to rename, however I didn't know if I would keep columns or not...

In [ ]:
## HISTORICAL TEMPERATURE DATASET:

## Average Annual Temperature for All Countries:
MeanTemp = HistTemp[["Annual_temp"]].mean() ## Value: 17.563804 Degrees Celsius

## Categorical Variable to Define: (1: Hot, 0: Cold)
## Used to determine relationship with climate/temperature:
hot_cold = []
for row in HistTemp["Annual_temp"]:
        if row > 17.5638 :    hot_cold.append(1)
        else:           hot_cold.append(0)
        
HistTemp["hot_cold"] = hot_cold

## Cleaned Data into New Data Frame:
HistTemp1 = HistTemp

In [30]:
## GROSS DOMESTIC PRODUCT (GDP) DATASET:
## Method Chaining: Drop columns, rename columns
GDPCountry = GDPCountry.drop([0,1,2,3]).drop(columns=["Unnamed: 3"]).rename(columns = {"Data Source": "country",
                                            "World Development Indicators": "country_code", "Unnamed: 2": "GDP", 
                                            "Unnamed: 4": "1960", "Unnamed: 5": "1961", "Unnamed: 6": "1962",
                                            "Unnamed: 7": "1963", "Unnamed: 8": "1964", "Unnamed: 9": "1965",
                                            "Unnamed: 10": "1966","Unnamed: 11": "1967", "Unnamed: 12": "1968", 
                                            "Unnamed: 13": "1969", "Unnamed: 14": "1970","Unnamed: 15": "1971",
                                            "Unnamed: 16": "1972","Unnamed: 17": "1973","Unnamed: 18": "1974",
                                            "Unnamed: 19": "1975","Unnamed: 20": "1976","Unnamed: 21": "1977",
                                            "Unnamed: 22": "1978","Unnamed: 23": "1979","Unnamed: 24": "1980",
                                            "Unnamed: 25": "1981","Unnamed: 26": "1982","Unnamed: 27": "1983",
                                            "Unnamed: 28": "1984","Unnamed: 29": "1985","Unnamed: 30": "1986",
                                            "Unnamed: 31": "1987","Unnamed: 32": "1988","Unnamed: 33": "1989",
                                            "Unnamed: 34": "1990","Unnamed: 35": "1991","Unnamed: 36": "1992",
                                            "Unnamed: 37": "1993","Unnamed: 38": "1994","Unnamed: 39": "1995",
                                            "Unnamed: 40": "1996","Unnamed: 41": "1997","Unnamed: 42": "1998",
                                            "Unnamed: 43": "1999","Unnamed: 44": "2000","Unnamed: 45": "2001",
                                            "Unnamed: 46": "2002","Unnamed: 47": "2003","Unnamed: 48": "2004",
                                            "Unnamed: 49": "2005","Unnamed: 50": "2006","Unnamed: 51": "2007",
                                            "Unnamed: 52": "2008","Unnamed: 53": "2009","Unnamed: 54": "2010",
                                            "Unnamed: 55": "2011","Unnamed: 56": "2012","Unnamed: 57": "2013",
                                            "Unnamed: 58": "2014","Unnamed: 59": "2015","Unnamed: 60": "2016",
                                            "Unnamed: 61": "2017","Unnamed: 62": "2018","Unnamed: 63": "2019",
                                            "Unnamed: 64": "2020","Unnamed: 65": "2021"}).dropna()

KeyError: '[0, 1, 2, 3] not found in axis'

In [51]:
## GROSS DOMESTIC PRODUCT (GDP) DATASET:
## Average GDP from 1960 to 2021: 
average_GDP = GDPCountry[["1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971",
                           "1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983",
                        "1984","1985","1986","1987","1988","1989","1990", "1991","1992","1993","1994","1995",
                        "1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007",
                        "2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019",
                        "2020","2021"]].mean(axis=1)

GDPCountry["average_GDP"] = average_GDP

## NOTE: Removing the NaN Values from the dataset had significant skrinkage. 
## However, the countries with NaN values anywhere present most likely are not in the top standings of the Olympics.

## Method Chaining: Drop columns
GDPCountry1 = GDPCountry.drop(columns=["GDP","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971",
                       "1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982",
                       "1983","1984","1985","1986","1987","1988","1989","1990", "1991","1992","1993","1994",
                       "1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                        "2007","2008","2009","2010","2011","2012","2013","2014","2015",
                       "2016","2017","2018","2019","2020","2021"])

,5,7,17,18,20,21,22,23,24,27,...,248,251,253,254,255,257,263,267,268,269
country,Africa Eastern and Southern,Africa Western and Central,Australia,Austria,Burundi,Belgium,Benin,Burkina Faso,Bangladesh,"Bahamas, The",...,Turkiye,Uganda,Upper middle income,Uruguay,United States,St. Vincent and the Grenadines,World,South Africa,Zambia,Zimbabwe
country_code,AFE,AFW,AUS,AUT,BDI,BEL,BEN,BFA,BGD,BHS,...,TUR,UGA,UMC,URY,USA,VCT,WLD,ZAF,ZMB,ZWE
average_GDP,352784055884.290344,247269391103.241943,483268699600.161316,187617829365.7258,1111593284.640322,230952864045.306458,4250500399.095161,4696433974.5,71043539734.645157,4919394018.261291,...,287427695595.161316,9640498701.924194,6225078790322.581055,19074008782.290321,7935588709677.418945,332695531.166774,31240617580645.160156,162340421552.016144,7685751286.362904,8134379498.17742

In [35]:
## Merge Data Sets:
Olympic1 = pd.merge(OlympicHost1, OlympicMedals1, on="game_slug")

#### **NOTE:** The ".groupby" command used below to classify number of specific medals per Country will be turned into a function for easier use rather than copying the code six times... Additionally, the point total will be turned into function.

In [36]:
## Winter Olympics: 
WinterOlympic = Olympic1[Olympic1["game_season"]== "Winter"]

## Summer Olympics:
SummerOlympic = Olympic1[Olympic1["game_season"]== "Summer"]

In [37]:
## WINTER: Number of Gold Per Country:  
WinterGold = WinterOlympic[WinterOlympic["medal_type"]=="GOLD"]
GoldPerCountry = WinterGold.groupby(by=['country','medal_type', 'country_code'])[['game_year']].count().reset_index()
GoldPerCountry = GoldPerCountry.rename(columns = {"medal_type":"Medal", "game_year" : "Gold_Medal_Count"})
GoldPerCountry = GoldPerCountry.sort_values("Gold_Medal_Count", ascending=False)
TOPGoldPerCountry = GoldPerCountry[0:15]

In [38]:
## WINTER: Number of Silver Per Country
WinterSilver = WinterOlympic[WinterOlympic["medal_type"]=="SILVER"]
SilverPerCountry = WinterSilver.groupby(by=['country','medal_type', 'country_code'])[['game_year']].count().reset_index()
SilverPerCountry = SilverPerCountry.rename(columns = {"medal_type":"Medal", "game_year" : "Silver_Medal_Count"})
SilverPerCountry = SilverPerCountry.sort_values("Silver_Medal_Count", ascending=False)
TOPSilverPerCountry = SilverPerCountry[0:15]

In [39]:
## WINTER: Number of Bronze Per Country
WinterBronze = WinterOlympic[WinterOlympic["medal_type"]=="BRONZE"]
BronzePerCountry = WinterBronze.groupby(by=['country','medal_type', 'country_code'])[['game_year']].count().reset_index()
BronzePerCountry = BronzePerCountry.rename(columns = {"medal_type":"Medal", "game_year" : "Bronze_Medal_Count"})
BronzePerCountry = BronzePerCountry.sort_values("Bronze_Medal_Count", ascending=False)
TOPBronzePerCountry = BronzePerCountry[0:15]

In [40]:
## WINTER: Total Points by Country
TotalPointsCountry = WinterOlympic[["country", "point_value"]].groupby("country",as_index=False).sum()
TotalPointsCountry = TotalPointsCountry.sort_values("point_value", ascending=False)
TOPTotalPointsCountry = TotalPointsCountry[0:15]

In [41]:
## SUMMER: Number of Gold Per Country
SummerGold = SummerOlympic[SummerOlympic["medal_type"]=="GOLD"]
GoldPerCountryS = SummerGold.groupby(by=['country','medal_type', 'country_code'])[['game_year']].count().reset_index()
GoldPerCountryS = GoldPerCountryS.rename(columns = {"medal_type":"Medal", "game_year" : "Gold_Medal_Count"})
GoldPerCountryS = GoldPerCountryS.sort_values("Gold_Medal_Count", ascending=False)
TOPGoldPerCountryS = GoldPerCountryS[0:15]

In [42]:
## SUMMER: Number of Silver Per Country
SummerSilver = SummerOlympic[SummerOlympic["medal_type"]=="SILVER"]
SilverPerCountryS = SummerSilver.groupby(by=['country','medal_type', 'country_code'])[['game_year']].count().reset_index()
SilverPerCountryS = SilverPerCountryS.rename(columns = {"medal_type":"Medal", "game_year" : "Silver_Medal_Count"})
SilverPerCountryS = SilverPerCountryS.sort_values("Silver_Medal_Count", ascending=False)
TOPSilverPerCountryS = SilverPerCountryS[0:15]

In [43]:
## SUMMER: Number of Bronze Per Country
SummerBronze = SummerOlympic[SummerOlympic["medal_type"]=="BRONZE"]
BronzePerCountryS = SummerBronze.groupby(by=['country','medal_type', 'country_code'])[['game_year']].count().reset_index()
BronzePerCountryS = BronzePerCountryS.rename(columns = {"medal_type":"Medal", "game_year" : "Bronze_Medal_Count"})
BronzePerCountryS = BronzePerCountryS.sort_values("Bronze_Medal_Count", ascending=False)
TOPBronzePerCountryS = BronzePerCountryS[0:15]

In [44]:
## SUMMER: Total Points by Country
TotalPointsCountryS = SummerOlympic[["country", "point_value"]].groupby("country",as_index=False).sum()
TotalPointsCountryS = TotalPointsCountry.sort_values("point_value", ascending=False)
TOPTotalPointsCountryS = TotalPointsCountryS[0:15]

## Exploratory Data Analysis: (updated: 03-04-2023)

#### **NOTE:** These EDA plots will also be turned into a function.

In [ ]:
## WINTER: Number of Gold Medals per Country

## Actual Plot:
plt.figure(figsize=(15,7))
sns.barplot(TOPGoldPerCountry, y="country", x="Gold_Medal_Count",palette="mako")

## Edit the Plot:
plt.xticks(np.arange(0, max(TOPGoldPerCountry['Gold_Medal_Count'])+5,5))
ax = plt.gca()
ax.set_frame_on(False)

## Add Labels:
plt.title("Number of Gold Medals Won Per Country in All Winter Olympics Combined")
plt.xlabel("Number of Gold Medals")
plt.ylabel(None)

## Change Font Style:
plt.rcParams["font.family"] = "Times"

## Font Sizes:
SMALL_SIZE = 10
MEDIUM_SIZE = 12
BIGGER_SIZE = 16

## plt.rc('font', size=SMALL_SIZE)          ## controls default text sizes
plt.rc('axes', titlesize=BIGGER_SIZE)      ## fontsize of the axes title
plt.rc('axes', labelsize=SMALL_SIZE)       ## fontsize of the x and y labels
plt.rc('xtick', labelsize=MEDIUM_SIZE)     ## fontsize of the tick labels
plt.rc('ytick', labelsize=MEDIUM_SIZE)     ## fontsize of the tick labels
plt.rc('figure', titlesize=BIGGER_SIZE)    ## fontsize of the figure title

None

In [ ]:
## WINTER: Number of Silver Medals per Country

## Actual Plot:
plt.figure(figsize=(15,7))
sns.barplot(TOPSilverPerCountry, y="country", x="Silver_Medal_Count",palette="mako")

## Edit the Plot:
plt.xticks(np.arange(0, max(TOPSilverPerCountry['Silver_Medal_Count'])+5,5))
ax = plt.gca()
ax.set_frame_on(False)

## Add Labels:
plt.title("Number of Silver Medals Won Per Country in All Winter Olympics Combined")
plt.xlabel("Number of Silver Medals")
plt.ylabel(None)

## Change Font Style:
plt.rcParams["font.family"] = "Times"

## Font Sizes:
SMALL_SIZE = 10
MEDIUM_SIZE = 12
BIGGER_SIZE = 16

## plt.rc('font', size=SMALL_SIZE)          ## controls default text sizes
plt.rc('axes', titlesize=BIGGER_SIZE)      ## fontsize of the axes title
plt.rc('axes', labelsize=SMALL_SIZE)       ## fontsize of the x and y labels
plt.rc('xtick', labelsize=MEDIUM_SIZE)     ## fontsize of the tick labels
plt.rc('ytick', labelsize=MEDIUM_SIZE)     ## fontsize of the tick labels
plt.rc('figure', titlesize=BIGGER_SIZE)    ## fontsize of the figure title

None

In [ ]:
## WINTER: Number of Bronze Medals per Country

## Actual Plot:
plt.figure(figsize=(15,7))
sns.barplot(TOPBronzePerCountry, y="country", x="Bronze_Medal_Count",palette="mako")

## Edit the Plot:
plt.xticks(np.arange(0, max(TOPBronzePerCountry['Bronze_Medal_Count'])+5,5))
ax = plt.gca()
ax.set_frame_on(False)

## Add Labels:
plt.title("Number of Bronze Medals Won Per Country in All Winter Olympics Combined")
plt.xlabel("Number of Bronze Medals")
plt.ylabel(None)

## Change Font Style:
plt.rcParams["font.family"] = "Times"

## Font Sizes:
SMALL_SIZE = 10
MEDIUM_SIZE = 12
BIGGER_SIZE = 16

## plt.rc('font', size=SMALL_SIZE)          ## controls default text sizes
plt.rc('axes', titlesize=BIGGER_SIZE)      ## fontsize of the axes title
plt.rc('axes', labelsize=SMALL_SIZE)       ## fontsize of the x and y labels
plt.rc('xtick', labelsize=MEDIUM_SIZE)     ## fontsize of the tick labels
plt.rc('ytick', labelsize=MEDIUM_SIZE)     ## fontsize of the tick labels
plt.rc('figure', titlesize=BIGGER_SIZE)    ## fontsize of the figure title

None

In [ ]:
## WINTER: Number of Total Points per Country

## Actual Plot:
plt.figure(figsize=(15,7))
sns.barplot(TOPTotalPointsCountry, y="country", x="point_value",palette="mako")

## Edit the Plot:
plt.xticks(np.arange(0, max(TOPTotalPointsCountry['point_value'])+25,25))
ax = plt.gca()
ax.set_frame_on(False)

## Add Labels:
plt.title("Number of Total Points Won Per Country in All Winter Olympics Combined")
plt.xlabel("Total Number of Points")
plt.ylabel(None)

## Change Font Style:
plt.rcParams["font.family"] = "Times"

## Font Sizes:
SMALL_SIZE = 14
MEDIUM_SIZE = 16
BIGGER_SIZE = 20

## plt.rc('font', size=SMALL_SIZE)          # controls default text sizes
plt.rc('axes', titlesize=BIGGER_SIZE)     # fontsize of the axes title
plt.rc('axes', labelsize=MEDIUM_SIZE)    # fontsize of the x and y labels
plt.rc('xtick', labelsize=MEDIUM_SIZE)    # fontsize of the tick labels
plt.rc('ytick', labelsize=MEDIUM_SIZE)    # fontsize of the tick labels
plt.rc('figure', titlesize=BIGGER_SIZE)  # fontsize of the figure title


None

In [ ]:
## SUMMER: Number of Gold Medals per Country

### Actual Plot:
plt.figure(figsize=(15,7))
sns.barplot(TOPGoldPerCountryS, y="country", x="Gold_Medal_Count",palette="mako")

## Edit the Plot:
plt.xticks(np.arange(0, max(TOPGoldPerCountryS['Gold_Medal_Count'])+5,25))
ax = plt.gca()
ax.set_frame_on(False)

## Add Labels:
plt.title("Number of Gold Medals Won Per Country in All Summer Olympics Combined")
plt.xlabel("Number of Gold Medals")
plt.ylabel(None)

## Change Font Style:
plt.rcParams["font.family"] = "Times"

## Font Sizes:
SMALL_SIZE = 10
MEDIUM_SIZE = 12
BIGGER_SIZE = 16

## plt.rc('font', size=SMALL_SIZE)          ## controls default text sizes
plt.rc('axes', titlesize=BIGGER_SIZE)      ## fontsize of the axes title
plt.rc('axes', labelsize=SMALL_SIZE)       ## fontsize of the x and y labels
plt.rc('xtick', labelsize=MEDIUM_SIZE)     ## fontsize of the tick labels
plt.rc('ytick', labelsize=MEDIUM_SIZE)     ## fontsize of the tick labels
plt.rc('figure', titlesize=BIGGER_SIZE)    ## fontsize of the figure title

None

In [ ]:
## SUMMER: Number of Silver Medals per Country

### Actual Plot:
plt.figure(figsize=(15,7))
sns.barplot(TOPSilverPerCountryS, y="country", x="Silver_Medal_Count",palette="mako")

## Edit the Plot:
plt.xticks(np.arange(0, max(TOPSilverPerCountryS['Silver_Medal_Count'])+5,25))
ax = plt.gca()
ax.set_frame_on(False)

## Add Labels:
plt.title("Number of Silver Medals Won Per Country in All Summer Olympics Combined")
plt.xlabel("Number of Silver Medals")
plt.ylabel(None)

## Change Font Style:
plt.rcParams["font.family"] = "Times"

## Font Sizes:
SMALL_SIZE = 10
MEDIUM_SIZE = 12
BIGGER_SIZE = 16

## plt.rc('font', size=SMALL_SIZE)          ## controls default text sizes
plt.rc('axes', titlesize=BIGGER_SIZE)      ## fontsize of the axes title
plt.rc('axes', labelsize=SMALL_SIZE)       ## fontsize of the x and y labels
plt.rc('xtick', labelsize=MEDIUM_SIZE)     ## fontsize of the tick labels
plt.rc('ytick', labelsize=MEDIUM_SIZE)     ## fontsize of the tick labels
plt.rc('figure', titlesize=BIGGER_SIZE)    ## fontsize of the figure title

None

In [ ]:
## SUMMER: Number of Bronze Medals per Country

### Actual Plot:
plt.figure(figsize=(15,7))
sns.barplot(TOPBronzePerCountryS, y="country", x="Bronze_Medal_Count",palette="mako")

## Edit the Plot:
plt.xticks(np.arange(0, max(TOPBronzePerCountryS['Bronze_Medal_Count'])+5,25))
ax = plt.gca()
ax.set_frame_on(False)

## Add Labels:
plt.title("Number of Bronze Medals Won Per Country in All Summer Olympics Combined")
plt.xlabel("Number of Bronze Medals")
plt.ylabel(None)

## Change Font Style:
plt.rcParams["font.family"] = "Times"

## Font Sizes:
SMALL_SIZE = 10
MEDIUM_SIZE = 12
BIGGER_SIZE = 16

## plt.rc('font', size=SMALL_SIZE)          ## controls default text sizes
plt.rc('axes', titlesize=BIGGER_SIZE)      ## fontsize of the axes title
plt.rc('axes', labelsize=SMALL_SIZE)       ## fontsize of the x and y labels
plt.rc('xtick', labelsize=MEDIUM_SIZE)     ## fontsize of the tick labels
plt.rc('ytick', labelsize=MEDIUM_SIZE)     ## fontsize of the tick labels
plt.rc('figure', titlesize=BIGGER_SIZE)    ## fontsize of the figure title

None

In [ ]:
## SUMMER: Number of Total Points per Country

## Actual Plot:
plt.figure(figsize=(15,7))
sns.barplot(TOPTotalPointsCountryS, y="country", x="point_value",palette="mako")

## Edit the Plot:
plt.xticks(np.arange(0, max(TOPTotalPointsCountryS['point_value'])+25,25))
ax = plt.gca()
ax.set_frame_on(False)

## Add Labels:
plt.title("Number of Total Points Won Per Country in All Summer Olympics Combined")
plt.xlabel("Total Number of Points")
plt.ylabel(None)

## Change Font Style:
plt.rcParams["font.family"] = "Times"

## Font Sizes:
SMALL_SIZE = 14
MEDIUM_SIZE = 16
BIGGER_SIZE = 20

## plt.rc('font', size=SMALL_SIZE)          # controls default text sizes
plt.rc('axes', titlesize=BIGGER_SIZE)     # fontsize of the axes title
plt.rc('axes', labelsize=MEDIUM_SIZE)    # fontsize of the x and y labels
plt.rc('xtick', labelsize=MEDIUM_SIZE)    # fontsize of the tick labels
plt.rc('ytick', labelsize=MEDIUM_SIZE)    # fontsize of the tick labels
plt.rc('figure', titlesize=BIGGER_SIZE)  # fontsize of the figure title

None

## Milestone Three: Exploratory Data Analysis Conclusion (updated: 03-18-2023)

First, before I explain into my exploratory data analysis (EDA), I would like to specify that I am going to attend the project office hours to figure out a minor predicament I have encountered. It is minor and I can still produce the required expectations for Milestone 3, however, once my problem is resolved I will be able to develop more sophisticated EDA plots. EDA is supposed to be an insight to one's analysis which allows for basic predictions to be made and if errors such as violation assumptions are present within the data, EDA gives one a starting place to perform model adequacy and diagnostics. 

Second, I have a profound background in working research position for the majority of my university career thus far. This positions have included copious amount of work in various areas however I have spent a good portion of my time coding in R for my employers. Additionally, being in my 5th year of a combined degree of Statistics and Ecology, I have spent a lot of time on my course work coding. Overall, my experience in coding especially in R is significant and shouldn't be a set back on my behalf towards this project.

Third, I spent approximately 16 to 18 hours just on the data cleaning and wrangling for this milestone. For someone knowledgeable with how coding works, I continuously encountered error message after error message. There are also a handful of ideas I wanted to execute with my project, however I wasn't able to comprehend how to make the code operate functionally in Python, but I had a better idea how to do it in R. I know that my "three" plots are all the "same", however, they do provide a reasonable insight to the beginning of how I would like to conduct my analyses. In order to complete more complex and sophisticated plots, I am going to seek assistance from the project office hours to determine how to resolve a few temporary analyses steps and return a main dataframe that functions properly containing all the information I need for future analyses techniques. Furthermore, I had attempted to subset the plots beside each other but I wasn't able to figure out how to do as such. I was going to put the plot of "Number of Gold medals in all the Winter Olympics Combined" beside the plot of "Number of Gold medals in all the Summer Olympics Combined" to be able to do a comparison. I also thought about combining the plots onto one graph but also struggled to do as such.

Fourth, I think after completing a very basic EDA, the next step in my analyses plan would be to perform some EDA on how the data evolves as climate is added into the visualizations. Additionally, by looking into my initial EDA, I think I am going to include GDP into the analyses as well. From here, I am undecided of my approach of only looking at overall Summer versus Winter Olympics, or narrowing down the Summer and Winter Olympics to after 1988 due to country name changes. Or if I want to look at specific games from 2000 and above in the Summer and Winter Olympics. So compare the Olympics in pairs, for example compare Beijing 2022 (Winter) to Tokoyo 2020 (Summer). My "more complex" analyses ideals are a multiple linear regression with categorical variables that are Bernoulli distributed and thus numerical (Dummy/Categorical Regression) and relational plots.

Lastly, here is a summation of my findings: 

For the total points awarded to a country for the Olympics were exactly the same standings for the Summer and Winter Games. The standings were:
1. Norway
2. USA
3. Austria
4. Germany
5. Netherlands
6. Soviet Union
7. Canada
8. Sweden
9. Switerland
10. Finland

Due to the standings of total points awarded to a country being exactly the same between the Summer and Winter Olympics, I would suspect that a Binomial/Bernoulli designation of climate has little to no influence of how a country preforms. I would assume GDP has a more significant influence, however I still want to research what influence the average temperature has with winning medals at the Olympics.

For the total number of gold medals won by each country for the Winter and Summer Olympics are respectively: (Winter/Summer)
1. Norway/USA
2. USA/Soviet Union
3. Germany/People's Republic of China
4. Austria/Great Britain
5. Netherlands/Japan
6. Switzerland/Italy
7. Sweden/France
8. Soviet Union/Hungary
9. Canada/Germany
10. Finland/Russian Federation

The standings here are rather interesting! Few minor differences between the standings some countries repeated when comparing and some not in the other standing. I found it interesting for "Russia's" standings, the Soviet Union was approximately before 1988 and the Russian Federation was after, but both of these "countries" make the overall standing.

For the total number of silver medals won by each country for the Winter and Summer Olympics are respectively: (Winter/Summer)
1. Norway/USA
2. USA/Soviet Union
3. Austria/Great Britain
4. Germany/Germany
5. Netherlands/France
6. Canada/People's Republic of China
7. Finland/Italy
8. Soviet Union/Japan
9. France/Sweden
10. Sweden/Hungary

Once again, few minor differences but overall very interesting again.

**NEW:** For the total number of bronze medals won by each country for the Winter and Summer Olympics are respectively: (Winter/Summer)
1. Norway/USA
2. Austria/Soviet Union
3. USA/Great Britain
4. Canada/Germany
5. Soviet Union/France
6. Germany/Italy
7. Finland/Japan
8. Sweden/People's Republic of China
9. Netherlands/Australia
10. France/Sweden

Over the entirety of comparing medal standing of countries in the Olympics it appears that the standing usually contain similar if not the same countries. This is what makes me think that temperature does have as large of an impact as does GDP in the Olympics. However, I am still curious of the relationship that climate has with the success of countries winning at the Olympics.

## **NEW:** Milestone Four: Visualizations, Analysis, and Pipeline (updated: 03-18-2023)

#### Task 1: Set up an Analysis Pipeline
1. Load Data
2. Clean Data
3. Process Data
4. Wrangle Data
5. Exploratory Data Analysis (not required for this Task).
6. Data Analysis (not required for this Task).
7. Export reports/data analyses and visualizations (not required for this Task).

All of of the required steps of an analysis pipeline have been completed.

#### Task 2: Method Chaining and Writing Python Programs

Any method chaining that is obvious and easy to do has been completed. I would have completed additional method chaining, however I have other plans for these sections. For the sections that have ."groupby" parameters, I will be turning these code chunks into functions since I am theoretically copying and pasting each chunk over and over while only changing a few simple parameters. Additonally, when I complete my EDA I did the exact ideal of coding the same plot with slightly different parameters, thus this will also be turned into a function.  

I am unsure of whether my method chaining should be wrapped in a function, or create a more useful function else where that will be used instead of a method chain of ".drop()" and ".rename()" that is specific to each dataframe, whereas my ideal for the other functions would be more useful and timesaving. 

#### Task 3: Conduct your analysis to answer your research question

See below!!

In [45]:
## WINTER OLYMPIC STATISTICS:
WinterStatistics = pd.merge(GoldPerCountry, SilverPerCountry, left_on='country', right_on='country', copy=False).merge(BronzePerCountry, on="country", copy=False).merge(TotalPointsCountry, on="country", copy=False).merge(GDPCountry1, on="country_code", copy=False).merge(HistTemp1, on="country_code")
WinterStatistics = WinterStatistics.drop(columns=["country_x", "country_code_x", "country_y", "country_code_y", "Medal_x", "Medal_y", "Medal"])
WinterStatistics

,Gold_Medal_Count,Silver_Medal_Count,country_code,Bronze_Medal_Count,point_value,average_GDP,country,Annual_temp,hot_cold
0,123,107,NOR,111,694,1.740043e+11,Norway,0.75,0
1,97,88,USA,67,534,7.935589e+12,USA,6.75,0
2,59,75,AUT,78,405,1.876178e+11,Austria,6.19,0
3,47,36,SWE,41,254,2.495748e+11,Sweden,1.55,0
4,41,47,CAN,56,273,7.091138e+11,Canada,-7.14,0
5,35,37,FRA,39,218,1.281130e+12,France,10.54,0
6,35,47,FIN,44,243,1.200303e+11,Finland,1.35,0
7,31,30,ITA,38,191,1.018543e+12,Italy,11.50,0
8,25,22,KOR,16,135,5.215076e+11,South Korea,10.66,0
9,18,25,CHN,16,120,2.820586e+12,China,6.33,0
10,13,24,JPN,26,113,2.882337e+12,Japan,10.36,0
11,6,7,AUS,5,37,4.832687e+11,Australia,21.51,1
12,6,2,GBR,11,33,1.286106e+12,Great Britain,8.31,0
13,1,1,ESP,3,8,5.944842e+11,Spain,13.03,0
14,1,1,BEL,3,8,2.309529e+11,Belgium,9.51,0

In [49]:
## ANALYSIS:

    country_code               country  Annual_temp  hot_cold
0            AFG            Afganistan        12.92         0
1            AGO                Angola        21.51         1
2            ALB               Albania        11.27         0
3            UAE  United Arab Emirates        26.83         1
4            ARG             Argentina        14.22         0
..           ...                   ...          ...       ...
179          VUT               Vanuatu        23.84         1
180          YEM                 Yemen        23.16         1
181          RSA          South Africa        17.60         1
182          ZAM                Zambia        21.58         1
183          ZIM              Zimbabwe        21.03         1

[184 rows x 4 columns]

In [ ]:
## SUMMER OLYMPIC STATISTICS:
SummerStatistics = pd.merge(GoldPerCountryS, SilverPerCountryS, left_on='country', right_on='country', copy=False).merge(BronzePerCountryS, on="country", copy=False).merge(TotalPointsCountryS, on="country", copy=False).merge(GDPCountry1, on="country_code", copy=False).merge(HistTemp1, on="country_code")
SummerStatistics = SummerStatistics.drop(columns=["country_x", "country_code_x", "country_y", "country_code_y", "Medal_x", "Medal_y", "Medal"])
SummerStatistics