# Dylan Forsythe

## Research Interests

Since pursuing a degree in data science, I am constantly being introduced to various ways of observing and exploring data, tables, charts, and graphs. I very much enjoy the visualization of dataframes by turning them into graphs because doing so helps me understand the data. By learning how to customize these graphs, theres an almost unlimited amount of stories that can be created. That is where the spark of my research interests lay. I wish to find the stories in the data that are not apparent without the steps involved with data analysis.
For this project, my interest is in learning about the popularities of some of the the sports over the past 30 years. So far, I'm mostly interested in winter olympic sports like snowboarding because of how 'new' it is relative to the other sports, and figure skating simply because I think its pretty. I am hoping to find information by looking at how the popularity of a sport changes over time. 

## Research Question 1
**How do the popularities of each sport (i.e. amount of participants/competitors) change over time for each sport?**

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Set the base theme for seaborn graphs
sns.set_theme(style='whitegrid',font_scale=1.25)

In [3]:
# Read raw data and save into seperate df's
OlympicResultsDF = pd.read_csv('../../data/raw/Olympic_Summer_Winter_Games_1986-2022/olympic_results.csv')
OlympicHostsDF = pd.read_csv('../../data/raw/Olympic_Summer_Winter_Games_1986-2022/olympic_hosts.csv')
OlympicMedalsDF = pd.read_csv('../../data/raw/Olympic_Summer_Winter_Games_1986-2022/olympic_medals.csv')
OlympicAthletesDF = pd.read_csv('../../data/raw/Olympic_Summer_Winter_Games_1986-2022/olympic_athletes.csv')

In [4]:
# Check the shape, and heads of each dataframe to get an idea of what information each one contains
print(OlympicResultsDF.shape)
OlympicResultsDF.head()

(162804, 15)

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN,NaN
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,NaN,NaN
3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,NaN,NaN
4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,NaN,NaN

In [5]:
print(OlympicHostsDF.shape)
OlympicHostsDF.head()

(53, 7)

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014

In [6]:
print(OlympicMedalsDF.shape)
OlympicMedalsDF.head()

(21697, 12)

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE

In [7]:
print(OlympicAthletesDF.shape)
OlympicAthletesDF.head()

(75904, 7)

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,NaN,NaN
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,NaN,NaN
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,NaN,NaN
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,NaN,NaN

## Initial Thoughts
- I am deciding to use the OlympicResultsDF as my main database source because it contains the largest amount of information and has columns for most of the information I will need.  
- I will probably need to pull a few columns from other dataframes to this one

In [8]:
# I want to create a dataframe that contains all the information I would like from the above four dataframes
# Then I should be able to create some visualizations to learn more about what the dataframe contains

Research_df = OlympicResultsDF
Research_df = Research_df.drop(columns=['country_name','country_code','country_3_letter_code',
                                        'athlete_url','rank_equal','rank_position','athlete_full_name',
                                        'value_unit','value_type','medal_type'],axis=1)
Research_df

,discipline_title,event_title,slug_game,participant_type,athletes
0,Curling,Mixed Doubles,beijing-2022,GameTeam,"[('Stefania CONSTANTINI', 'https://olympics.co..."
1,Curling,Mixed Doubles,beijing-2022,GameTeam,"[('Kristin SKASLIEN', 'https://olympics.com/en..."
2,Curling,Mixed Doubles,beijing-2022,GameTeam,"[('Almida DE VAL', 'https://olympics.com/en/at..."
3,Curling,Mixed Doubles,beijing-2022,GameTeam,"[('Jennifer DODDS', 'https://olympics.com/en/a..."
4,Curling,Mixed Doubles,beijing-2022,GameTeam,"[('Rachel HOMAN', 'https://olympics.com/en/ath..."
...,...,...,...,...,...
162799,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN
162800,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN
162801,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN
162802,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN
162803,Gymnastics Artistic,"26th Federal Festival, Society and Association...",paris-1900,GameTeam,NaN

In [9]:
Research_df = Research_df.rename(columns= {'discipline_title':'Sport Name',
                                           'event_title':'Event Name',
                                           'slug_game':'Location',
                                           'participant_type':'Type',
                                           'athletes':'Athlete Name'})
Research_df

,Sport Name,Event Name,Location,Type,Athlete Name
0,Curling,Mixed Doubles,beijing-2022,GameTeam,"[('Stefania CONSTANTINI', 'https://olympics.co..."
1,Curling,Mixed Doubles,beijing-2022,GameTeam,"[('Kristin SKASLIEN', 'https://olympics.com/en..."
2,Curling,Mixed Doubles,beijing-2022,GameTeam,"[('Almida DE VAL', 'https://olympics.com/en/at..."
3,Curling,Mixed Doubles,beijing-2022,GameTeam,"[('Jennifer DODDS', 'https://olympics.com/en/a..."
4,Curling,Mixed Doubles,beijing-2022,GameTeam,"[('Rachel HOMAN', 'https://olympics.com/en/ath..."
...,...,...,...,...,...
162799,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN
162800,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN
162801,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN
162802,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN
162803,Gymnastics Artistic,"26th Federal Festival, Society and Association...",paris-1900,GameTeam,NaN

In [10]:
# Since we only want to look at the sports that have athletes listed, I have to drop all of the rows that
# do not contain athlete information

Research_df = Research_df.dropna(subset='Athlete Name').reset_index()
Research_df

,index,Sport Name,Event Name,Location,Type,Athlete Name
0,0,Curling,Mixed Doubles,beijing-2022,GameTeam,"[('Stefania CONSTANTINI', 'https://olympics.co..."
1,1,Curling,Mixed Doubles,beijing-2022,GameTeam,"[('Kristin SKASLIEN', 'https://olympics.com/en..."
2,2,Curling,Mixed Doubles,beijing-2022,GameTeam,"[('Almida DE VAL', 'https://olympics.com/en/at..."
3,3,Curling,Mixed Doubles,beijing-2022,GameTeam,"[('Jennifer DODDS', 'https://olympics.com/en/a..."
4,4,Curling,Mixed Doubles,beijing-2022,GameTeam,"[('Rachel HOMAN', 'https://olympics.com/en/ath..."
...,...,...,...,...,...,...
7971,162758,Figure skating,Ice dancing mixed,innsbruck-1976,GameTeam,"[('Isabella RIZZI', 'https://olympics.com/en/a..."
7972,162759,Figure skating,Ice dancing mixed,innsbruck-1976,GameTeam,"[('Judi GENOVESI', 'https://olympics.com/en/at..."
7973,162760,Figure skating,Ice dancing mixed,innsbruck-1976,GameTeam,"[('Stefania BERTELE', 'https://olympics.com/en..."
7974,162761,Figure skating,Ice dancing mixed,innsbruck-1976,GameTeam,"[('Susan KELLEY', 'https://olympics.com/en/ath..."
7975,162762,Figure skating,Ice dancing mixed,innsbruck-1976,GameTeam,"[('Susanne HANDSCHMANN', 'https://olympics.com..."

In [11]:
Research_df = Research_df.drop(columns=['index'])
Research_df

,Sport Name,Event Name,Location,Type,Athlete Name
0,Curling,Mixed Doubles,beijing-2022,GameTeam,"[('Stefania CONSTANTINI', 'https://olympics.co..."
1,Curling,Mixed Doubles,beijing-2022,GameTeam,"[('Kristin SKASLIEN', 'https://olympics.com/en..."
2,Curling,Mixed Doubles,beijing-2022,GameTeam,"[('Almida DE VAL', 'https://olympics.com/en/at..."
3,Curling,Mixed Doubles,beijing-2022,GameTeam,"[('Jennifer DODDS', 'https://olympics.com/en/a..."
4,Curling,Mixed Doubles,beijing-2022,GameTeam,"[('Rachel HOMAN', 'https://olympics.com/en/ath..."
...,...,...,...,...,...
7971,Figure skating,Ice dancing mixed,innsbruck-1976,GameTeam,"[('Isabella RIZZI', 'https://olympics.com/en/a..."
7972,Figure skating,Ice dancing mixed,innsbruck-1976,GameTeam,"[('Judi GENOVESI', 'https://olympics.com/en/at..."
7973,Figure skating,Ice dancing mixed,innsbruck-1976,GameTeam,"[('Stefania BERTELE', 'https://olympics.com/en..."
7974,Figure skating,Ice dancing mixed,innsbruck-1976,GameTeam,"[('Susan KELLEY', 'https://olympics.com/en/ath..."
7975,Figure skating,Ice dancing mixed,innsbruck-1976,GameTeam,"[('Susanne HANDSCHMANN', 'https://olympics.com..."

## Findings
* Upon dropping rows that contain NaN values (specifically the Athlete Name column), the amount of data left is tiny in comparison (162K -> 8K) and would therefore not show an accurate depiction of the results for my research question. 
* Also, I was not a fan of how the athletes were stored in each row in the initial dataframe. Each value was found to be a string but looks to be in the form of a list of tuples.

---

# Research Question 2

**How many athletes obtained a medal in their first appearance?**

In [12]:
OlympicAthletesDF = OlympicAthletesDF.dropna()

In [13]:
OlympicAthletesDF = OlympicAthletesDF.drop(columns=['athlete_url', 'bio'])

In [14]:
OlympicAthletesDF

,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals
16,Mikael KINGSBURY,3,Sochi 2014,1992.0,\n\n\n1\n\nG\n\n\n\n2\n\nS\n\n
36,David WISE,3,Sochi 2014,1990.0,\n\n\n2\n\nG\n\n\n\n1\n\nS\n\n
44,Gus KENWORTHY,3,Sochi 2014,1991.0,\n\n\n1\n\nS\n\n
96,Jean Frederic CHAPUIS,3,Sochi 2014,1989.0,\n\n\n1\n\nG\n\n
119,Ailing Eileen GU,1,Beijing 2022,2003.0,\n\n\n2\n\nG\n\n\n\n1\n\nS\n\n
...,...,...,...,...,...
75854,Allen Tarwater WEST,1,St. Louis 1904,1871.0,\n\n\n1\n\nB\n\n
75855,Clarence Olivier GAMBLE,1,St. Louis 1904,1881.0,\n\n\n1\n\nB\n\n
75856,Arthur Yancey WEAR,1,St. Louis 1904,1880.0,\n\n\n1\n\nB\n\n
75878,Lyudmila PAKHOMOVA,1,Innsbruck 1976,1946.0,\n\n\n1\n\nG\n\n
75879,Colleen O'CONNOR,1,Innsbruck 1976,1951.0,\n\n\n1\n\nB\n\n

In [15]:
temp = []
for medal in OlympicAthletesDF['athlete_medals'].to_list():
    temp.append(medal.replace('\n',''))

OlympicAthletesDF['Medals'] = temp
OlympicAthletesDF = OlympicAthletesDF.reset_index()
OlympicAthletesDF = OlympicAthletesDF.drop(columns=['index','athlete_medals','games_participations','athlete_year_birth'])
OlympicAthletesDF

            athlete_full_name      first_game Medals
0            Mikael KINGSBURY      Sochi 2014   1G2S
1                  David WISE      Sochi 2014   2G1S
2               Gus KENWORTHY      Sochi 2014     1S
3       Jean Frederic CHAPUIS      Sochi 2014     1G
4            Ailing Eileen GU    Beijing 2022   2G1S
...                       ...             ...    ...
7837      Allen Tarwater WEST  St. Louis 1904     1B
7838  Clarence Olivier GAMBLE  St. Louis 1904     1B
7839       Arthur Yancey WEAR  St. Louis 1904     1B
7840       Lyudmila PAKHOMOVA  Innsbruck 1976     1G
7841         Colleen O'CONNOR  Innsbruck 1976     1B

[7842 rows x 3 columns]

In [16]:
Research2_DF = OlympicAthletesDF.merge(OlympicMedalsDF['athlete_full_name'], on='athlete_full_name')

In [17]:
Research2_DF = Research2_DF.drop_duplicates().reset_index(drop=['index'])

In [18]:
tempSums = []
for i in Research2_DF['Medals']:
    tempSum = 0
    for j in i:
        if j.isnumeric():
            tempSum = tempSum + int(j)
    tempSums.append(tempSum)

Research2_DF['Amount of Medals'] = tempSums

In [19]:
Research2_DF = Research2_DF.sort_values('Amount of Medals', ascending=False)

In [20]:
Research2_DF = Research2_DF.rename(columns={'athlete_full_name' : 'Athlete',
                                            'first_game' : 'First Game'})

In [21]:
Research2_DF

                     Athlete           First Game  Medals  Amount of Medals
3712         Larisa LATYNINA       Melbourne 1956  9G5S4B                18
142           Marit BJOERGEN  Salt Lake City 2002  8G4S3B                15
2475       Nikolay ANDRIANOV          Munich 1972  7G5S3B                15
3716             Takashi ONO        Helsinki 1952  5G4S4B                13
267     Ole Einar BJØRNDALEN     Lillehammer 1994  8G4S1B                13
...                      ...                  ...     ...               ...
3795         Hubert HAMMERER            Rome 1960      1G                 1
3796             Frank GREEN           Tokyo 1964      1S                 1
3797  William Clifton MORRIS           Tokyo 1964      1B                 1
3798       Thomas Gayle POOL           Tokyo 1964      1B                 1
6605        Colleen O'CONNOR       Innsbruck 1976      1B                 1

[6606 rows x 4 columns]

# Findings
* The Olympic results dataframe does not have the athlete_full_name column filled out for all the athletes but instead groups together athletes based on the sport so merging this dataframe with the others that I want to work with is impossible.
* There is no data in here that would allow me to deduce which olympic event someone earned a medal at and therefore, I cannot accurately answer my second research question.

---

## Research Question 3
**How many participants were there in each Olympic event?**